@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body, .viewport {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-row, .bottom-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

    .main .bottom-row {
        background-color: #e6e6e6;
        border-top: 1px solid #d6d5d5;
    }

.content {
    padding-top: 1.1rem;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
}

.filteredListView {
    flex: none;
    display: flex;
    flex-direction: column;
}

.filteredListViewFilterContainer {
    flex: none;
    margin-bottom: 10px;
}

.filteredListViewTableContainer {
    flex: auto;
    overflow-y: scroll;
}

.filteredListViewTable tr:nth-child(even) {
    background-color: #f0f0f0;
}

.filteredListViewTable tr:hover {
    background-color: #ccccff;
}

.filteredListViewTable th, .filteredListViewTable td {
    padding-left: 5px;
    padding-right: 5px;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row, .main .bottom-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row, .main .bottom-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
